 body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
 }
 
 .navbar{
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(6px);
    border-bottom: 1px solid rgb(226 232 240);
    min-height: 60px;
}

.navbar a{
    text-decoration: none;
}
.leftnav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5VW;
}

.leftnav a{
    font-size: clamp(16px, 1.5vw, 20px);
    font-weight: bold;
    color: rgb(15 23 42);
}

.leftnav em{
    color: rgb(79 70 229);
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.rightnav{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    margin-right: 2vw;
}

.rightnav a{
    font-size:  clamp(10px,3vw,17px);
    color: rgb(71 85 105);
    transition: 0.2s;
}

.rightnav a:hover{
    color: rgb(79 70 229);
}

.rightnav a:active{
    color: rgb(111, 105, 233);
}

.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 850px;
    background-color: rgb(244, 255, 255);
    margin-bottom: clamp(100px, -10vw + 20px, 250px);
}

.hero-content{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 750px;
    width: 85%;
}

.hero-text{
    height: 400px;
    width: 600px;
    margin-top: 100px;
}

.hero-text h1{
    font-weight: 700;
    color: rgb(15 23 42);
    font-size: clamp(10px,10vw,75px);
    margin: 0px;
    line-height: 1;
}

.hero-text span{
    color: rgb(79 70 229);
}

.hero-text p{
    margin-top: 30px;
    color: rgb(71 85 105)
}

.hero-button{
    display: flex;
    align-items: center ;
    justify-content: center;
    background: linear-gradient(128deg, rgb(18, 18, 245), rgb(22, 172, 218), rgb(150, 6, 216));
    background-size: 200% 200%;
    background-position: left center;
    transition: background-position 0.4s ease;
    margin-top: 100px;
    width: 200px;
    height: 25px;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}

.hero-button:hover{
    background-position: right center;
}

.hero-button:active{
    opacity: 0.85;

}

.hero-button a{
    color: rgb(244, 255, 255); 
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
}


.rating{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating p{
    font-size: 15px;
    color: rgb(71 85 105)
}

.rating .stars{
    color: gold;
    margin-right: 0px;
}

.hero-img {
  width: 400px;
  transition: 0.3s;
  cursor: pointer;
}

.hero-img img {
  margin-bottom: 100px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  display: block;
}


.hero-img:hover{
    transform: scale(1.05) rotate(2deg);
}

.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    margin-bottom: 100px;
}
#The-book {
  scroll-margin-top: 80px;
}
.book-content{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    min-height: 600px;
}

.book-content h2{
    font-size: clamp(20px,5VW,40px);
    font-weight: 700;
    text-align: center;
    color: rgb(15 23 42);
}
.book-content-p{
    max-width: 850px;
}

.book-content p{
    color: rgb(71 85 105);
    margin-top: 20px;
    font-weight: 100;
    padding: 15px;
    margin: 0px;
    font-size: 18px;
    line-height: 1.6;
}

.author{
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248 250 252);
    min-height: 800px;
}
.am-content{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
}

.am-img{
    display: flex;
    align-items: center;
    justify-content: center;
        padding: 30px;
}
.am-img img{
    border-radius: 20px;
    max-width: 400px;
}

.am-text h2{
    margin: 0px;
    font-size: 35px;
    color: rgb(15 23 42);
    font-weight: 700;
}

.am-text{
    width: 400px;
    color: rgb(71 85 105);
    font-weight: 100;
    padding: 15px;
    margin: 0px;
    font-size: 18px;
    line-height: 1.6;
}

.am-text p{
    padding: 5px;
}
    
.myblog{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    min-height: 2400px;
}

.mybg-content{
    margin-top: clamp(100px, -10vw + 200px, 250px);
    padding: 0;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    margin-bottom: 100px;
}

.mybg-content h2{
    color: rgb(15 23 42);
    margin-top: 5px;
    font-weight: 700;
    font-size: clamp(10px,5vw,35px);
    text-align: center;
}

.mybg-content h3{
    margin: 0;
    color: rgb(79 70 229); 
    font-size: clamp(10px,4vw,25px);
    text-align: center;
}

.mybg-content p{
    color: rgb(71 85 105);
    font-weight: 100;
    padding: 15px;
    margin: 0px;
    font-size: 18px;
    line-height: 1.6;
}

.buybook{
    margin-bottom: 0px;
    background-color: #4f46e5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 450px;
}

.buybook-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 400px;
}

.buybook h2{
    margin: 60px;
    color: white;
    font-size:clamp(10px,5vw,40px);
}

.buy-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    flex-wrap: wrap;

}

.buy-btns a {
    width: 150px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 75px;
    margin-left: 75px;
    margin-bottom: 50px;
    color: #4f46e5;
    padding: 10px 18px;
    background-color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}


.buy-btns a:hover .icon-svg{
    background-color: #4f46e5;
    color:white;
}

.buy-btns a:hover{
    border: 1px solid white;
    background-color: #4f46e5;
    color:white;
}

.buy-btns a:active .icon-svg{
    background-color: #3731ad;
    color:white;}

.buy-btns a:active{
    background-color: #3731ad;
    color:white;   
}


.icon-svg {
  width: 15px;
  color: #464fe5;
}

#buy-the-book{
    scroll-margin-top: 60px;
}


.contact{
    background-color: rgb(15 23 42);
    height: 60vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0px;
}

.contact-h{
    font-weight: 700;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 40px;
    color: white;
}

.contact-h h2{
    font-size: 40px;
    margin: 0;
}

.contact-h h3{
        text-align: center;
    font-size: clamp(10px,4vw,18px);
    margin-top: 10px;
    color: rgb(226, 226, 226);
    font-weight: 400;
}

.contact-btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 40px;
    min-height: 100px;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}

.contact-btns a{
    width: 200px;
    height: 10px;
    color: white;
    background-color: #4f46e5;
    border-radius: 7px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 10px;
}

.contact-svg{
    stroke: currentColor;
    width: 25px;
    color: white;
}

.contact-btns a:hover{
        background-color: #3e39aa;
}

.contact-btns a:active{
        background-color: #5850ff;
}

#contact{
    scroll-margin-top: 60px;
}

.footer{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    height: 250px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 25px;
    height: 100%;
}
.footer-content p{
    font-size: 20px;
    margin-top: 0px;
}

.footer-content h3{
    font-weight: 700;
    margin-bottom: 7px;
}

.footer-credit{
    color: #94A3B8;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 0.5px solid rgba(148, 163, 184, 0.2);
    height: 80px;
}

